@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-amiri {
  font-family: "Amiri", serif;
}

.ayat-customize {
  line-height: 80px
}